<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Serve static files directly
  RewriteCond %{REQUEST_FILENAME} -f
  RewriteRule ^(sitemap\.xml|robots\.txt|ads\.txt)$ - [L]
  RewriteCond %{REQUEST_FILENAME} -f
  RewriteRule ^ - [L]

  # SPA Fallback
  RewriteRule ^ index.html [L]
</IfModule>
